.intro__list {
  width: 100%;
  margin: 34px 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  list-style: none;
}

@media (min-width: 768px) {
  .intro__list {
    margin: 33px 0 0;
  }
}
