.website__link {
  width: 288px;
  margin: 12px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: inherit;
  text-underline-position: under;
  transition: opacity 0.5s ease-in-out;
}

.website__link:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .website__link {
    width: 352px;
  }
}

@media (min-width: 1024px) {
  .website__link {
    width: 484px;
  }
}
